<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div>
  <h1> Check Out How The Machado Ax Works</h1>
  <h2>Durability</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices mauris lacus. Maecenas ullamcorper ex ac nibh sodales molestie. Phasellus ultrices magna eu urna placerat, sed iaculis neque gravida. Fusce nec urna ut mi bibendum congue. Donec pretium orci ut aliquet pulvinar. Vestibulum volutpat blandit blandit. Nam pharetra nisl sed tortor finibus, ut porta velit accumsan. Donec sit amet turpis faucibus, ullamcorper nunc at, commodo eros.</p>
  <h2>Sharp</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices mauris lacus. Maecenas ullamcorper ex ac nibh sodales molestie. Phasellus ultrices magna eu urna placerat, sed iaculis neque gravida. Fusce nec urna ut mi bibendum congue. Donec pretium orci ut aliquet pulvinar. Vestibulum volutpat blandit blandit. Nam pharetra nisl sed tortor finibus, ut porta velit accumsan. Donec sit amet turpis faucibus, ullamcorper nunc at, commodo eros.</p>
  <h2>Weight</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices mauris lacus. Maecenas ullamcorper ex ac nibh sodales molestie. Phasellus ultrices magna eu urna placerat, sed iaculis neque gravida. Fusce nec urna ut mi bibendum congue. Donec pretium orci ut aliquet pulvinar. Vestibulum volutpat blandit blandit. Nam pharetra nisl sed tortor finibus, ut porta velit accumsan. Donec sit amet turpis faucibus, ullamcorper nunc at, commodo eros.</p>
  <h2>Resistant</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices mauris lacus. Maecenas ullamcorper ex ac nibh sodales molestie. Phasellus ultrices magna eu urna placerat, sed iaculis neque gravida. Fusce nec urna ut mi bibendum congue. Donec pretium orci ut aliquet pulvinar. Vestibulum volutpat blandit blandit. Nam pharetra nisl sed tortor finibus, ut porta velit accumsan. Donec sit amet turpis faucibus, ullamcorper nunc at, commodo eros.</p>
  </div>